.header{
    padding: 6px;
    height: 42px;
}

.rightdiv{
    padding-left: 32px;
    float: right;
}

.logodiv{
    margin: auto;
    background-color: gray;
}

.headerlinks{
    vertical-align: middle;
}
.mypic{
    text-align: right;
}

.mypicchild{
    background-size: 32px 32px;
    width:32px;
    height: 32px;
    border-radius: 50%;
}

.mypicchild:hover{
    box-shadow: 0px 0px 6px 0px gray;
}

.logo{
    margin: auto;
    display: flex;
    object-position: center bottom;
}

.searchbar{
    margin: auto;
    display: flex;
    object-position: center bottom;
}

.appicon{
    width: 24px;
    height: 24px;
}

.logocontainer{
    height: 400px;
}